USE [master]
GO
/****** Object:  Database [AgendaImpiegato]    Script Date: 27/08/2021 13:24:40 ******/
CREATE DATABASE [AgendaImpiegato]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgendaImpiegato', FILENAME = N'C:\Users\noemi.more\AgendaImpiegato.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgendaImpiegato_log', FILENAME = N'C:\Users\noemi.more\AgendaImpiegato_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgendaImpiegato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgendaImpiegato]
GO
USE [AgendaImpiegato]
GO
/****** Object:  Table [dbo].[Commit]    Script Date: 27/08/2021 13:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commit](
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[DateExpiration] [datetime] NOT NULL,
	[Priority] [int] NOT NULL,
	[IsFlag] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Commit] ON 

INSERT [dbo].[Commit] ([Title], [Description], [DateExpiration], [Priority], [IsFlag], [Id]) VALUES (N'Studio', N'studiare cap.4-5', CAST(N'2021-09-28T00:00:00.000' AS DateTime), 2, 1, 3)
INSERT [dbo].[Commit] ([Title], [Description], [DateExpiration], [Priority], [IsFlag], [Id]) VALUES (N'Lavoro', N'Riunione', CAST(N'2021-08-29T00:00:00.000' AS DateTime), 0, 0, 4)
INSERT [dbo].[Commit] ([Title], [Description], [DateExpiration], [Priority], [IsFlag], [Id]) VALUES (N'Sport', N'Palestra ore 19.00', CAST(N'2021-08-28T00:00:00.000' AS DateTime), 1, 0, 5)
SET IDENTITY_INSERT [dbo].[Commit] OFF
GO
USE [master]
GO
